---
import type { GetStaticPaths, Page } from "astro"

import Layout from "../../layouts/Layout.astro"
import BlogList from "../../components/sections/BlogList.astro"
import { ArchivePost } from "../../types/substack"
import { getAllPosts } from "../../lib/substack"

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getAllPosts()
  return paginate(posts, { pageSize: 10 })
}

const page = Astro.props.page as Page<ArchivePost>
---

<Layout title="Gus Ryan | Blog">
  <main
    id="main"
    class="relative flex h-full flex-col justify-center py-8 pl-20 pr-2 md:py-0 md:pl-10 md:pr-0 lg:pl-24"
  >
    <section>
      <div
        class="absolute bottom-5 left-1/2 flex -translate-x-1/2 flex-col items-center text-sm dark:text-gray-400 md:py-20"
      >
        <div>
          {page.url.prev && <a href={page.url.prev}>prev</a>}
          {page.url.prev && page.url.next && <span class="mx-2">|</span>}
          {page.url.next && <a href={page.url.next}>next</a>}
        </div>
      </div>
      <BlogList data={page.data} />
    </section>
  </main>
</Layout>
