---
import Layout from "../layouts/Layout.astro"
import AboutComponent from "../components/sections/About.astro"
import Experience from "../components/sections/Experience.astro"
import Projects from "../components/sections/Projects.astro"
import BlogList from "../components/sections/BlogList.astro"

import { getPosts } from "../lib/substack"

const blogPosts = await getPosts(0, 6)
const hasMoreBlogPosts = blogPosts.length > 5
---

<Layout title="Gus Ryan | About">
  <main
    class="h-full space-y-40 overflow-y-auto p-4 pb-32 pl-24 md:h-screen md:pb-36 md:pl-14 md:pt-[calc(50vh-10rem)] lg:pl-24"
    id="main"
  >
    <AboutComponent />
    <Experience />
    <Projects />
    <section class="space-y-6" id="blog">
      <BlogList data={blogPosts} />
      {
        hasMoreBlogPosts && (
          <div class="flex justify-center">
            <a class="hover:underline" href="/blog">
              See more
            </a>
          </div>
        )
      }
    </section>
  </main>
</Layout>
