---
interface Props {
  content: string
  href: string
}

const { content, href } = Astro.props
---

<a class="link relative" href={href}>
  <span class="absolute"> {content}</span>
  {content}
</a>

<style>
  .link {
    background-image: url("../../public/textures/blue-noise.webp");
    background-size: 0%;
  }
  .link:hover {
    background-size: 500%;
    background-blend-mode: luminosity;
    background-clip: text;
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    filter: grayscale(1) brightness(1.5) contrast(4) invert();
    animation: glitch 1s step-end infinite;
  }
  :is(:where(.dark) .link):hover {
    filter: grayscale(1) brightness(1.5) contrast(4);
  }

  @keyframes glitch {
    0% {
      background-position: 0% 41%;
    }
    3.4% {
      background-position: 13% 41%;
    }
    6.7% {
      background-position: 13% 6%;
    }
    10% {
      background-position: 87% 6%;
    }
    13.4% {
      background-position: 87% 93%;
    }
    16.8% {
      background-position: 10% 93%;
    }
    20% {
      background-position: 10% 13%;
    }
    23.2% {
      background-position: 89% 13%;
    }
    26.8% {
      background-position: 89% 6%;
    }
    30% {
      background-position: 3% 6%;
    }
    33.6% {
      background-position: 3% 8%;
    }
    36.4% {
      background-position: 16% 8%;
    }
    40% {
      background-position: 16% 79%;
    }
    43.6% {
      background-position: 0% 79%;
    }
    46.4% {
      background-position: 0% 99%;
    }
    50% {
      background-position: 92% 99%;
    }
    53.6% {
      background-position: 92% 90%;
    }
    56.4% {
      background-position: 5% 90%;
    }
    60% {
      background-position: 5% 60%;
    }
    63.6% {
      background-position: 0% 60%;
    }
    66.7% {
      background-position: 0% 48%;
    }
    70% {
      background-position: 89% 48%;
    }
    73.% {
      background-position: 89% 13%;
    }
    76.7% {
      background-position: 80% 13%;
    }
    80% {
      background-position: 80% 43%;
    }
    83.% {
      background-position: 95% 43%;
    }
    86.7% {
      background-position: 95% 19%;
    }
    90% {
      background-position: 80% 19%;
    }
    93.3% {
      background-position: 80% 85%;
    }
    96.7% {
      background-position: 38% 85%;
    }
  }
</style>
