---
import type {ProjectEntry} from "@/content/config"
type Href = {url: string, alt: string}
interface Props extends ProjectEntry {}

const { title,
  description,
  mainImage,
  mainVideo,
  otherImages,
} = Astro.props;

---

<li class="">
</li>
