---
import { getCollection } from "astro:content"

import Layout from "../../layouts/Layout.astro"

const collection = await getCollection("projects")
const projects = await Promise.all(
  collection.map(async entry => ({
    ...entry,
    content: await entry.render(),
  })),
)
---

<Layout title="Gus Ryan | Projects">
  <main id="experience" class="flex min-h-screen flex-col justify-center pl-24">
    <ul class="group my-20 space-y-4">
      {
        projects.map(entry => (
          <li class="relative rounded-xl p-4 text-gray-700 hover:bg-slate-400 hover:bg-opacity-15 hover:!opacity-100 group-hover:opacity-60 dark:text-gray-400">
            <a class="block text-sm " href={`/projects/${entry.slug}`}>
              <h3 class="text-base text-gray-900 dark:text-gray-200">{entry.data.title}</h3>
              <div class="mt-1">
                <entry.content.Content />
              </div>
              <ul class="mt-2 space-x-2 text-xs text-gray-700 dark:text-gray-600">
                {entry.data.technologies.map((tech: string) => (
                  <li class="inline-block rounded-full bg-slate-400 bg-opacity-15 px-2 py-1">
                    {tech}
                  </li>
                ))}
              </ul>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
