---
import { getCollection } from "astro:content"

import Layout from "../../layouts/Layout.astro"

const projects = await getCollection("projects")
---

<Layout title="Gus Ryan - Full Stack Web Developer">
  <main class="h-screen">
    <section
      id="about"
      class="text-gray-400 w-full pl-24 p-4 h-full flex flex-col justify-center text-base"
    >
      <p>
        Hi! My name is Gus and I'm an aspiring software developer, originally from Perth, Western
        Australia. With a background in Maths and Physics, I&apos;m fascinated by the intricacies of
        how things work and enjoy using logic to solve problems
      </p>
      <br />
      <p>
        I became interested in software development a few years ago after discovering a passion for
        building useful applications from scratch. I&apos;m now looking to apply my skills in
        creating tools to help users be more efficient
      </p>
      <br />
      <div>
        Besides coding at my desk, I can be found
        <div class="inline-block group relative">
          <div
            class="top-0 -right-1 h-2 w-2 border-t border-r absolute opacity-0 group-hover:opacity-100 transition"
          >
          </div>
          <div
            class="bottom-0 -left-1 h-2 w-2 border-b border-l absolute opacity-0 group-hover:opacity-100 transition"
          >
          </div>
          <a
            class="relative inline-block text-white"
            href="https://www.youtube.com/channel/UCtWqQrnozUZXpxnjhVgUTUw"
          >
            climbing rocks
          </a>
        </div>
         and
        <div class="inline-block group relative">
          <div
            class="top-0 -right-1 h-2 w-2 border-t border-r absolute opacity-0 group-hover:opacity-100 transition"
          >
          </div>
          <div
            class="bottom-0 -left-1 h-2 w-2 border-b border-l absolute opacity-0 group-hover:opacity-100 transition"
          >
          </div>
          <a class="relative inline-block text-white" href="https://www.instagram.com/babyccino1">
            photographing natural landscapes
          </a>
        </div>
        <br />
      </div>
      <br />
      <p class="mt-2 text-sm">Languages/technologies I've used:</p>
      <ul class="mt-2 text-xs text-gray-400 space-x-2">
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">typescript</li>
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">javascript</li>
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">react</li>
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">html</li>
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">css</li>
        <li class="inline-block bg-slate-400 bg-opacity-15 rounded-full px-2 py-1">sqlite</li>
      </ul>
    </section>
  </main>
</Layout>
